/** General page styling **/
html { background: url(../images/bg.gif); }
#main { padding: 30px 0 30px 0; }

header h1 {
  text-align: center;
  font-size: 24px;
  font-weight: normal;
  margin: 30px 0 3px 0;
}

/** Start page */
.start { width: 500px; margin: 0 auto; text-align: center; }
.start .logo { margin: 100px 0 60px; }
.start .search_block input.search { 
  border: 1px solid #ccc;
  padding: 4px;
  font-size: 24px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  width: 350px;
}
.start .search_block .search-button { height: 36px; margin-top: -10px; }
.start .featured { color: #777; margin: 20px 60px 0 0; }
.start .featured a { color: #777; }

.start .about { margin-top: 60px; display: none; }
.start .about a { color: #777; }

/** Grid container */
#tiles {
  list-style-type: none;
  position: relative; /** Needed to ensure items are laid out relative to this container **/
  margin: 0;
}

/** Grid items */
#tiles li {
  width: 200px;
  background-color: #ffffff;
  border: 1px solid #dedede;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  display: none; /** Hide items initially to avoid a flicker effect **/
  cursor: pointer;
  padding: 4px;
}

#tiles li img { display: block; }
#tiles li p { color: #666; font-size: 12px; margin: 7px 0 0 7px; }
#tiles ali:nth-child(3n) { height: 175px; }
#tiles ali:nth-child(4n-3) { padding-bottom: 30px; }
#tiles ali:nth-child(5n) { height: 250px; }
